@font-face {
    font-family: Asap;
    src: url(font/Asap/Asap-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: LibreFranklin;
    src: url(font/Libre_Franklin/LibreFranklin-VariableFont_wght.ttf);
}

@font-face {
    font-family: RobotoMono;
    src: url(font/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}

body {
    margin: 0;
    background-color: #F0F5F5;
}

.m-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: RobotoMono, Courier, monospace;
    font-size: 60px;
    color: #151C32;
    height: 200px;
    margin-bottom: 50px;
}

.feat-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    /* border: 1px dashed yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151C32;
    width: 100%;
    height: 360px;
    padding: 25px;
    margin-bottom: 20px;
    /* box-shadow: 0px 3px 6px #151C32, 0px 18px #6D97C0; */
}

/* .flex-item1, .flex-item2 {
    border: 1px dashed blue;
} */

#feat-photo {
    width: 250px;
    height: 25%;
    border-radius: 25px;
}

.feat-container .flex-item2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 25px;
    height: 325px;
    width: 500px;
}

.feat-container .flex-item2 > div {
    font-family: Asap, Helvetica, sans-serif;
    color: #F0F5F5;
}

#ln1 {
    font-size: 72pt;
    font-weight: bold;
}

#ln2 {
    font-size: 96pt;
    font-weight: bolder;
}

#ln3 {
    font-size: 19pt;
    font-weight: bold;
    font-style: italic;
}

#prj1, #prj2, #prj3 {
    width: 800px;
    aspect-ratio: 16 / 9;
    height: auto;
    border-radius: 25px;
    border: 2px solid black;
    box-shadow: -1px 1px 5px black, -25px 25px #63819D, -25px 25px 5px #63819D;
}

.proj-container {
    border-radius: 25px;
    background-color: #151C32;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column wrap;
    height: 1800px;
}

.proj-container > .flex-item1, .flex-item2, .flex-item3 {
    display: flex;
    gap: 25px;
    width: 1500px;
}

.title {
    font-family: Asap, Tahoma, sans-serif;
    color: #F0F5F5;
    font-size: 96pt;
    font-weight: bolder;
}

.desc {
    align-self: flex-end;
    justify-self: end;
    font-family: LibreFranklin, Tahoma, sans-serif;
    color: #F0F5F5;
    font-style: italic;
}

.sub-item1, .sub-item2, .sub-item3 {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
    width: 800px;
    border: 1px solid #F0F5F5;
    box-shadow: 0px 0px 5px #F0F5F5;
    padding: 25px;
}

.details-container {
    margin-top: 50px;
    margin-bottom: 68px;
    display: flex;
    justify-content: space-evenly;
}

.flex-container {
    box-shadow: -3px 3px 6px #151C32, -18px 18px #6D97C0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    background-color: #151C32;
    border-radius: 25px;
    width: 700px;
    height: 600px;
}

.s-header {
    font-family: Asap, Courier, monospace;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 56pt;
    color: #F0F5F5;
}

.text {
    font-family: LibreFranklin, Verdana, sans-serif;
    color: #F0F5F5;
    padding-left: 50px;
    padding-right: 50px;
}

.footer-text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 160px;
    font-family: LibreFranklin, Verdana, sans-serif;
    background-color: #151C32;
    line-height: 0;
    color: #F0F5F5;
}

